<h1>Reminder</h1>
<h2>16 Aug 2019</h2>
<body>
<form>
    <label for="time">Select time:</label> <br>
    <input type="time" name="usr_time"> <br>
    <label for="event"> Event: </label> <br>
    <input type="text" id="event" name="event"> <br>
    <label for="location"> Event location: </label> <br>
    <input type="text" id="location" name="location"> <br>
    <label for="details"> Event details: </label> <br>
    <input type="text" id="details" name="details"> <br>
    <input type="submit" value="Submit">
  </form>
 </body>