<!--The content below is only a placeholder and can be replaced.-->
<html>
<head>
<style>
</style>
</head>
<body>

<h1>{{title}}</h1>
<h2>Select date and scroll down to add reminder</h2>
<div class="month">      
  <ul>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
    <li>
      August<br>
      <span>2019</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">  
  <button routerLink="a1">1</button>
  <button routerLink="a2">2</button>
  <button routerLink="a3">3</button>
  <button routerLink="a4">4</button>
  <button routerLink="a5">5</button>
  <button routerLink="a6">6</button>
  <button routerLink="a7">7</button>
  <button routerLink="a8">8</button>
  <button routerLink="a9">9</button>
  <button routerLink="a10">10</button>
  <button routerLink="a11">11</button>
  <button routerLink="a12">12</button>
  <button routerLink="a13">13</button>
  <button routerLink="a14">14</button>
  <button routerLink="a15">15</button>
  <button routerLink="a16">16</button>
  <button routerLink="a17">17</button>
  <button routerLink="a18">18</button>
  <button routerLink="a19">19</button>
  <button routerLink="a20">20</button>
  <button routerLink="a21">21</button>
  <button routerLink="a22">22</button>
  <button routerLink="a23">23</button>
  <button routerLink="a24">24</button>
  <button routerLink="a25">25</button>
  <button routerLink="a26">26</button>
  <button routerLink="a27">27</button>
  <button routerLink="a28">28</button>
  <button routerLink="a29">29</button>
  <button routerLink="a30">30</button>
  <button routerLink="a31">31</button>
  <router-outlet></router-outlet>
</ul>
</body>
</html>
